{% extends 'base.html' %}
{% block title %}Password changed - Alan's Albums{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1 class="h4 mb-3">Password changed</h1>
      <div class="card my-3 mx-auto">
        <div class="card-body">
          <p class="mb-3">Your password has been changed successfully.</p>
          <a class="button-primary" href="{% url 'dashboard' %}">Return to dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
